!!! 5
%html
  %head
    %title MyApp
    %meta{name:"viewport",content:"initial-scale=1.0, user-scalable=no"}
    %meta{charset:"utf-8"}
    %link{rel: 'stylesheet', href: '/stylesheets/style.css'}
    %script{src:"//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{src: "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=#{@google_maps_api_key}"}
    %script{src: "/javascripts/script.js"}
  %body
    .container= yield

